
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover{
	background-color:#2C3E50;
}
body{
	font-family:'Roboto',sans-serif;
	font-size: 14px;
}
#hero{
	position: relative;
	background-color: #2ECC71;
}
.navbar{
	background-color: #33485D;
	padding:0.1%;
}
nav{
	padding-top: 5px;
}

.mg-0{
	margin:0!important;
}
.menu{
	margin: 0;
}
.menu>li{
	display: inline-block;
	padding:0px;
}
.menu>li>a{
	width: 100%;
	color:rgba(255,255,255,.5);
	padding:10px 15px;
	border-radius: 5px;
}
.active{
	background-color: #2C3E50;
}
.menu>li>a:hover{
	text-decoration: none;
	color:white;
}
#main-slider{
	color:white;
}
#main-slider p {
	font-size: 1.2rem;
	padding-top:20%;
}
.big{
	font-size: 3.5rem;
}
.prueba{
	background-color:#2ecc71;
	padding:2.5%;
	color:white;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.icono{
	display: inline-block;
	font-size: 30px;
	width: 50px;
	height: 50px;
	padding:10px;
	margin-right:0;
	border-radius: 50%;
	color:white;
	background-color: #1C7A44;
	text-align: center;
}
.icono:hover{
	text-decoration: none;
	box-shadow:0px 20px 6px rgba(0,0,0,.2) ;
	background-color: steelblue;
	color:white;
	transition: all .6s;
}
.descrip{
	display: inline-block;
	width: 80%;
}
.descrip h2,.descrip p{
	margin:0;
}
.descrip h2{
	font-size: 2rem;
}
#project{
	background-color: #F5F5F5;
	padding:3% 0%;
}
#project .descrip{
	width: 100%;
}
#project .descrip p{
	font-size: 1.3rem;
}
.img{
	padding: 8px;
	background-color: white;
}
.img img{
	width: 100%;
}
.botones{
	display: inline-block;
	border: 1px solid #D54540;
	background-color: #D9534F;
}
.botones a:first-child{
	border-right:1px solid #D54540; 
}
.botones a{
	display: inline-block;
	background-color: #D9534F;
	padding:8px;
	color:white;
	font-size: 8px;
}
.botones a:hover{
	text-decoration: none;
}
#main-slider .carousel .item {
	margin-top: 60px;
	height: 650px;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
.bck1{
	background: url('../images/slider/bg1.jpg');
}
.bck2{
	background: url('../images/slider/bg2.jpg');
}
.bck3{
	background: url('../images/slider/bg3.jpg');
}
#clientsaid{
	background-color:#E74C3C;
	color:white;
}
#clientsaid small{
	color:white;
}
#clientsaid .descrip{
	margin:4%;
}

@media screen and (max-width:767px){
	.navbar-brand{
		padding: 15px 0px 15px 5px;
	}
	.carousel-indicators{
		display:none;
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
		top:45%;
	}
	.descrip {
    width: 75%;
	}
	.prueba{
		padding: 5%;
	}
	.prueba .descrip{
		margin-bottom:5%;
	}
	
}